html{
  scroll-behavior: smooth;
}
body {
  background-color: #fafafa;
  overflow-x: hidden;
}
*{
    text-align: center;
}
.card-fotos{
    border-radius: 10px;
    box-shadow: inset 0 0 4px 1px #dedcdc;
    background-color: white;
}
.preco{
margin-top: -8% ;}
.card {
  border: 1px solid #ccc;
  width: 15rem;
  height: 25rem;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-body{
  padding: 100%;
}
.card-title {
  font-size: 1.5rem;
  margin-top: -24%;

  font-weight: bold;
  color: #333;
}
.card img{
  margin-top: -20%;
}

.card-text {
  color: #555;
}
.caixinha {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%; 
  display: flex;
  justify-content: space-between;
}
.comprar{
  display: flex;
  margin-left: 10%;
  text-align: right;
}

#cancelar{
  background-color: red;
  color: white;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 20px;
  width: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-right: 5%;

}
#compre{
  transition: all 0.5s ease;
  border: solid 1px black;
  border-radius: 20px;
  cursor: pointer;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  margin-right: 10%;
}
#compre:hover{
  background-color: black;
  color: white
}
.vermelho{
  background-color: red;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
}
.verde{
  background-color: darkgreen;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
}
.close.fechar{
width: 10%;
  color: black;
  background-color: white;
  border: none;
  padding-left: 1%;
  padding-right: 1%;
}
#pedido{
  background-color: darkgreen;
  border: solid 1px black;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 2%;
  padding-left: 2%;
  margin-right: 10%;
}
#pedido, #cancelar, .caixinha, #totalLabel{
  display: none;
}
.comprar h6 {
  margin: 0;
  margin-top: 10px; 
}

.mais,
.menos {
  width: 30px;
  height: 30px;
  background-color: black; 
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.quantidade {
  width: calc(40% - 10px); 
  height: 30px;
  text-align: center;
}
.card ul li {
  margin-bottom: 5px;
  color: #777;
}

.fonte{
  color: white;
}
.branco{
  background-color: black;
  margin-top: 10%;
  color: white;
}
.navbar a {
  color: black;
}
.navbar {
  background-color: white;
}
div .cima{
    margin-top: 10%;
}
.carousel-control, .carousel-control:hover {
    opacity: 1;
 }
.fundo {
  padding-top: 5%;
  padding-bottom: 5%;
  background: rgba(0, 0, 0, 0.7) url(img/fundo-lixo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  text-align: center;
  color: white;
}
input[type="number"] {
  -moz-appearance: textfield; 
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; 
  margin: 0; 
  }
.verde a{
  text-decoration: none;
  color: white;
}
